{% extends 'base.html.twig' %}

{% block title %}Bibliotheque de Charleston{% endblock %}

{% block body %}

        <div class="container container-home">
            <div class='container'>
                <h1>Bibliothèque </h1> 
                    
                    <h2>Liste des Livres</h2>
            
                <table class="table">
                    <tbody>
                        <div class="row">
                            {% for book in books %}
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ book.images }}" class="card-img-top">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ book.titre }}</h5>
                                        <h5 class="card-title">{{ book.auteur }}</h5>
                                        <p class="card-text">{{ book.description }}</p>
                                        <p class="card-text">Stock: {{ book.stock }}</p>
                                        <a href="{{ path('app_emprunt_new') }}" class="btn btn-primary">Emprunter</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                </table>
            </div>
        
        </div>
        </tbody>
        {% endblock %}