<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bibliotheque de Charleston</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=" ">Liste des livres</a></li>
            <li><a class="dropdown-item" href=" ">Emprunter un livre</a></li>
            <li><a class="dropdown-item" href=" ">Autres</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Autres</a></li>
            <li><a class="dropdown-item" href="#">Autres</a></li>
            <li><a class="dropdown-item" href="#">Autres</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_book_index') }}">Gestion des Livres</a></li>
            <li><a class="dropdown-item" href="{{ path('app_book_new') }}">Ajouter un Livre</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_emprunt') }}">gestion des Emprunts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Utilisateurs</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_register') }} " class='nav-link'>S'inscrire</a>
          </li> 
          <li class="nav-item">
            <a href="{{ path('app_login') }} " class='nav-link'>Se connecter</a>
          <li class="nav-item">
            <a href="{{ path('app_logout') }} " class='nav-link'>Se déconnecter</a>
          </li> 
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>