<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bibliotheque de CHARLESTON</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a href="{{ path('app_register') }} " class='nav-link'>S'inscrire</a>
          </li> 
          <li class="nav-item">
            <a href="{{ path('app_login') }} " class='nav-link'>Se connecter</a>
          </li> 
        <li class="nav-item">
          <a href="{{ path('app_logout') }} " class='nav-link'>Se déconnecter</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Utilisateurs
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Livres</a></li>
            <li><a class="dropdown-item" href="#">Faire un Emprunt</a></li>
          </ul>
        </li>
      
        {% if is_granted('ROLE_ADMIN') %} 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">gestion des Categories de Livres</a></li>
            <li><a class="dropdown-item" href="#">Nouvelle Categorie</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_book_index') }}">gestion des Livres</a></li>
            <li><a class="dropdown-item" href="{{ path('app_book_new') }}">Ajout de Livvres</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Gestion des Emprunts</a></li>
            <li><a class="dropdown-item" href="#">Historique des Emprunts</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_user') }}">Utilisateurs</a></li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>