{% extends 'base.html.twig' %}

{% block title %}Emprunts{% endblock %}

{% block body %}
    div class="container">
        <div class="container containerform">
            <form class="login-form" method="post">
                <h1>Liste des Emprunts</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>DateEmprunt</th>
                            <th>DateRetour</th>
                            <th>Statut</th>
                            <th>Book_id</th>
                            <th>User_id</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for emprunt in emprunts %}
                        <tr>
                            <td>{{ emprunt.id }}</td>
                            <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ emprunt.statut }}</td>
                            <td>{{ emprunt.bookId }}</td>
                            <td>{{ emprunt.userId }}</td>
                            <td>
                                <a href="{{ path('app_emprunt_show', {'id': emprunt.id}) }}" class="btn btn-secondary mt-4">Visualiser</a>
                                <a href="{{ path('app_emprunt_edit', {'id': emprunt.id}) }}" class="btn btn-secondary mt-4">Modifier</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_emprunt_new') }}" class="btn btn-primary mt-4">Realiser un nouvel Emprunt</a>
            </div>
        </div>
    </div>
{% endblock %}
